/***** Navbar *****/
.nav {
  background: #212121;
  padding: 32px 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-info li {
  list-style: none;
}
.nav-info li a {
  font-weight: 500;
  text-decoration: none;
  color: #fcf2e4;
  text-transform: uppercase;
  padding: 0px 16px;
}

#phone {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(207, 157, 101, 0.17);
  padding: 8px 32px;
  border: solid 1px #cf9d65;
  border-radius: 7px;
}
#phone span {
  color: #cf9d65;
}
/***** BANNER *****/
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/img/visual.png");
  background-repeat: no-repeat;
  height: 800px;
  background-size: cover;
  color: #fcf2e4;
}
.banner h1 {
  font-family: Playfair;
  font-size: 64px;
}
.banner h2 {
  font-family: Yesteryear;
  font-size: 64px;
  font-weight: 400;
  margin-top: -30px;
}
.btn-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-family: Montserrat;
  font-size: 16px;
  margin-top: 40px;
}
.btn-gold {
  color: #212121;
  background-color: #cf9d65;
  border: none;
  border-radius: 7px;
  padding: 8px 32px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.btn-gold:hover {
  background-color: #cf9d65;
}
.btn-gold:active {
  background-color: #cf9d65;
  transform: translateY(4px);
}
.btn-black {
  color: #cf9d65;
  background-color: #212121;
  border: none;
  border-radius: 7px;
  padding: 8px 32px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.btn-black:hover {
  background-color: #212121;
}
.btn-black:active {
  background-color: #212121;
  transform: translateY(4px);
}
/***** Services *****/
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 128px 0;
  gap: 100px;
  background: #f0e9df;
}
.services-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services-item img {
  height: 75px;
  margin-bottom: 64px;
}
.services-item h3 {
  text-align: center;
  color: #212123;
  font-family: Montserrat;
  font-size: 18px;
}
.services-item p {
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  margin-top: 16px;
}
/* section */
.planasprice-bg {
  background: #212123;
}
.plan-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Montserrat;
}
.plan-title h1 {
  color: #cea46f;
  margin-top: 128px;
  font-size: 32px;
}
.plan-title h2 {
  color: #fcf2e4;
  font-size: 16px;
  font-weight: 500px;
  margin-top: 16px;
}
.plan-price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 32px;
}

.plan-item ul {
  margin-bottom: 119px;
}
.plan-item li {
  list-style: none;
  display: flex;
  gap: 16px;
  margin-top: 25px;
}
.plan-item {
  background: #2c2c2e;
  color: #fcf2e4;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 36px 36px;
  border-radius: 10px;
  margin-bottom: 129px;
}
.plan-item button {
  margin-top: 65px;
  padding: 11px;
  border: 1px solid #cea46f;
  border-radius: 5px;
  background: #2c2c2e;
  color: #cea46f;
}
.price {
  display: flex;
  gap: 5px;
  font-weight: bold;
}
.price span {
  margin-top: 2px;
  font-size: 12px;
}
.price-save {
  display: flex;
  align-items: center;
  gap: 55px;
}
.price-save div {
  padding: 10px;
  border-radius: 5px;
  background: #fcf2e4;
  color: #212123;
  font-size: 11px;
  font-weight: 500px;
}
#pricebtn {
  color: #000000;
  background: #cea46f;
  border-radius: 5px;
}
.horario-atedimento-bg {
  background: #f0e9df;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 65px;
  gap: 128px;
}
.horario-atedimento-text {
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  margin-top: 104px;
  margin-bottom: 104px;
  text-align: right;
  color: #212123;
}
.barra {
  align-items: center;
  border-radius: 2px;
  height: 200px;
  border: 2px solid #212123;
  margin-left: 128px;
  margin-right: 128px;
}
.horario h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: right;

  color: #212123;
}
.horario {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4f4f51;
  margin-top: 8px;
  margin-bottom: 32px;
}

/* Formulario */

.section-form-bg {
  background: #212123;
}

.section-form {
  padding: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-form h1 {
  color: #cea46f;
  font-family: Montserrat;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}
.title-form p {
  margin-top: 16px;
  color: #fcf2e4;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
  margin-bottom: 16px;
}
.form input {
  width: 260px;
  background: #2c2c2e;
  border: 1px solid #665744;
  border-radius: 7px;
  padding: 10px 16px;
  font-family: "Montserrat";
  font-size: 14px;
}
.section-form textarea {
  background: #2c2c2e;
  color: #6f6d6a;
  border: 1px solid #665744;
  border-radius: 7px;
  padding: 17px 16px;
  margin-bottom: 16px;
  width: 540px;
  height: 185px;
}
#btn {
  background: #cea46f;
  color: #212123;
  font-family: "Montserrat";
  font-size: 14px;
  border-radius: 7px;
  border: none;
  padding: 16px 83px;
}
